.textarea-wrapper {
  display: flex;
}

.textarea-wrapper::after {
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
}

.textarea-wrapper > textarea {
  resize: none;
  overflow: hidden;
}

.textarea-wrapper > textarea,
.textarea-wrapper::after {
  padding: 0.5em;
  font: inherit;
}