:root {
  --color-first: #9290C3;
  --color-second: #535C91;
  --color-third: #1B1A55;
  --color-fourth: #070F2B;
}

* {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  display: flex;
  background: var(--color-fourth);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  font-family: monospace;
}

.header {
  font-size: 60px;
  color: var(--color-first);
  border-bottom: 5px var(--color-second) solid;
  border-radius: 2px;
  margin-bottom: 10px;
}

.tasks {
  width: 500px;
}

.task {
  display: flex;
  padding: 5px;
  border: 3px var(--color-second) solid;
  border-radius: 10px;
  background: var(--color-third);
  color: var(--color-first);
}

.task-form-text {
  flex: 1;
  background: inherit;
  border: none;
  color: inherit;
}

.task-form-text:focus {
  outline: none;
}

.task-form-button {
  min-width: 1.8em;
  min-height: 1.8em;
  background: inherit;
  border: none;
  color: currentColor;
}

.task-form-button:hover > svg > * {
  stroke: var(--color-first)
}

.task.done {
  opacity: 0.5;
}

.task + .task {
  margin-top: 10px;
}

.task-checkbox {
  appearance: none;
  margin: 2px 7px 2px 2px;
  font: inherit;
  width: 1.8em;
  min-width: 1.8em;
  height: 1.8em;
  border: 0.25em solid var(--color-second);
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.task-checkbox:hover {
  border-color: var(--color-first);
}

.task-checkbox::before {
  content: "";
  width: 0.9em;
  height: 0.9em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--color-third);
}

.task-checkbox:checked::before {
  transform: scale(1);
}

.task-remove-button {
  background: none;
  border: none;
  align-self: flex-start;
  margin-left: auto;
}

.task-remove-button:hover > svg > * {
  stroke: var(--color-first);
}