* {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  display: flex;
  background: #070F2B;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  font-family: monospace;
}

.header {
  font-size: 60px;
  color: #9290C3;
  border-bottom: 5px #535C91 solid;
  border-radius: 2px;
  margin-bottom: 10px;
}

.tasks {
  max-width: 500px;
}

.task {
  display: flex;
  padding: 5px;
  border: 3px #373B73 solid;
  border-radius: 10px;
  background: #1B1A55;
  color: #9290C3;
}

.task.done {
  opacity: 0.5;
}

.task + .task {
  margin-top: 10px;
}

.task-checkbox {
  appearance: none;
  margin: 2px 7px 2px 2px;
  font: inherit;
  color: currentColor;
  width: 1.8em;
  min-width: 1.8em;
  height: 1.8em;
  border: 0.25em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.task-checkbox::before {
  content: "";
  width: 0.9em;
  height: 0.9em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #9290C3;
}

.task-checkbox:checked::before {
  transform: scale(1);
}